{% load static %} 

<!-- Footer -->
<footer class="text-center text-white mt-5">
    <div class="row justify-content-center" data-scroll data-scroll-delay="0.2" data-scroll-speed="1">
        <div class="col-md-2 text-center py-5">
            <img src="{% static 'images/logo_white.png' %}" alt="" height="100">
        </div>
    </div>
    <!-- Grid container -->
    <div class="container p-4 pt-0">
        <!-- Section: Social media -->
        <div class="social-icons d-flex mb-4 justify-content-center" data-scroll data-scroll-delay="0.18" data-scroll-speed="1">
            <!-- Facebook -->
            <a href="#" class="nav-link"><i class="ri-facebook-fill"></i></a>

            <!-- Twitter -->
            <a href="#" class="nav-link"><i class="ri-twitter-x-line"></i></a>

            <!-- Instagram -->
            <a href="#" class="nav-link"><i class="ri-instagram-line"></i></a>
        </div>
        <!-- Section: Social media -->


        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row footer-links">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" data-scroll data-scroll-delay="0.18" data-scroll-speed="1">
                    <p class="text-uppercase">Links</p>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" data-scroll data-scroll-delay="0.14" data-scroll-speed="1">
                    <p class="text-uppercase">Links</p>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" data-scroll data-scroll-delay="0.12" data-scroll-speed="1">
                    <p class="text-uppercase">Links</p>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" data-scroll data-scroll-delay="0.1" data-scroll-speed="1">
                    <p class="text-uppercase">Links</p>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <p class="copyright mt-5">©2023 PICASSO EVENTOS. ALL RIGHTS RESERVED</p>
    <!-- Copyright -->
</footer>
<!-- Footer -->


