{% load static %}    

<header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-dark py-3">
        <div class="container-fluid px-5">
          <a class="navbar-brand mx-4" href="{% url 'index' %}">
            <img src="{% static 'images/logo_white.png' %}" height="30px" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Nós</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'events' %}">Eventos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Reservas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
              </li>


                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="ri-facebook-fill"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="ri-instagram-line"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="ri-twitter-x-line"></i></a>
                </li>
            </ul>
              
              {% if request.user.is_authenticated %}
                  <a class="nav-link" href="{% url 'logout' %}">SAIR</a>
{#                  <a class="nav-link" href="{% url 'user-profile' request.user.id %}">MY ACCOUNT</a>#}
              {% else %}
                  <span class="d-flex d-inline text-white"><a class="nav-link px-3 pt-1" href="{% url 'register' %}">CRIAR UMA CONTA</a> &#8725; <a class="nav-link px-3 pt-1" href="{% url 'login' %}">ENTRAR</a></span>
              {% endif %}
            
          </div>
        </div>
      </nav>
</header>