.btn-tickets {
    background-image: linear-gradient(135deg,#554cc7,#aa397e);
    box-shadow: 0 5px 13px rgba(100,72,186,.33);
    font-size: 12px;
    padding: 10px;
    transition: box-shadow .15s ease;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-info {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(135deg,#554cc7,#aa397e);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 12px;
    margin: 0;
    border: none;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
}
.card-footer span {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
}
.social-icons a {
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
}
.social-icons a:hover{
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
}
.footer-links p{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
}
.footer-links a {
    line-height: 1;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.copyright {
    font-size: 11px;
    color: #a7acb1;
}
.card-text {
    color: #DCDEDF;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 8px;
    overflow: hidden;
}
.card-title {
    color: #141414;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
